@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&family=Noto+Sans+Display&family=Poppins:wght@400;700&display=swap');

*{
    box-sizing: border-box;
}

html {
    font-family: 'Noto Sans Display', sans-serif;
}

body {
    margin: 0;
    background-color: #b7ffd5;
};
